/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* @supports (font-variation-settings: normal) {
  .page {
      font-family: 'Inter-Variable', sans-serif;
  }
}  */

@supports (font-variation-settings: wght) {
  .page {
      font-weight: 400;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-align: center;
  justify-content: end;
  text-transform: uppercase;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);

}

.header__block-title {
  display: flex;
  flex-direction: column;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-block: 25px
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button {
  font-family: inherit;
  text-transform: inherit;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: inherit;
  transition: width 0.3s, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--accent-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -16px;
  animation: triangle 0.5s infinite ease-in-out alternate;
}

@keyframes triangle {
  from {
    inset-inline-start: -16px;
  }

  to {
    left: -12px;
  }
}

.content_section {
  margin: 0 auto;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card__header {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--header-font-weight);
  /* font-weight: var(--header-font-weight); */
  font-size: 18px;
  line-height: 22px;
  padding: 5px 10px;
}

.card__image_continer {
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 0;
}

.card__lable {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  /* text-transform: uppercase; */
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
}

@supports((text-stroke: 1px var(--text-stroke)) or (-webkit-text-stroke: 1px var(--text-stroke))) {
  .card__lable {
      -webkit-text-stroke: 1px var(--text-stroke);
      text-stroke: 1px var(--text-stroke);
      text-shadow: none;
  }
} 

.card__image {
  position: relative;
  z-index: 0;
  inline-size: 100%;
}

.img-frame {
  outline: 2px solid #000;
  font-size: 0;
}

.card__block {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card__paragraph_block {
  display: grid;
  gap: 27px;
}

.card__paragraph {
  font-size: 18px;
  font-variation-settings: "wght" var(--text-font-weight);
}

.card__button_block {
  display: flex;
  justify-content: flex-end;
  height: 38px;
}

.card__container_icon-button {
  border: 2px solid transparent;
}

.like-icon .sparks {
  fill: transparent;
}

.like-icon.is-liked .sparks {
  animation: sparking 0.3s ease-in 0.6s;
}

@keyframes sparking {
  0% {
    fill: transparent;
  }

  50% {
    fill: red;
  }
  100% {
    fill: transparent;
  }
}

.card__icon-button {
  height: 100%;
}

.heart .main-body {
  fill: transparent;
  transition: 0.3s;
}

.heart .core {
  fill: transparent;
  transition: 0.6s;
}

.card__icon-button:hover .main-body {
  fill: var(--heart-filling-color);
  transition: 0.6s;
}

.card__icon-button:hover .core {
  fill: var(--heart-filling-color);
  transition: 0.3s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-spark-color);
  transition: 0.6s;
}

.card__icon-button:active .core {
  fill: var(--heart-spark-color);
  transition: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-spark-color);
  transition: 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--heart-spark-color);
  transition: 0.3s;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-spark-color);
  transition: 0.3s 0.3s;
}

.like-icon.is-liked {
  animation: scaling 0.3s ease-in 0.7s;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.content__button {
  position: relative;
  overflow: hidden;
  align-items: center;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
}

.content__button:before {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  background-color: var(--btn-animate-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.content__button:hover::before {
  transform: translateX(0);
}

.content__button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
  transition: 0.3s;
}

.card__like-button {
  min-width: 130px;
  padding: 9px 17px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
}

.footer__button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 13px;
  height: fit-content;
  background-color: var(--bg-color);
  margin: 52px auto;
  width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
}

.floppy-icon {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: difference;
  color: var(--btn-text-color);
}

.dialog__content .floppy-icon {
  min-inline-size: 39px;
  min-block-size: 39px;
}

.footer__button .floppy-icon {
  inline-size: 21px;
  block-size: 21px;
}

.dialog {
  padding: 0;
  border: none;
  color: var(--accent-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

.dialog__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.dialog__card__paragraph {
  font-family: var(--accent-font);
}

.dialog__button {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px;
  width: 100%;
}

@media (width <= 375px) {

  .content_section {
    inline-size: 100%;
  }

  .footer__button {
    flex-direction: column;
  }
  
  .floppy-icon {
    min-inline-size: 28px;
    min-block-size: 28px;
  }

  .dialog__card {
    padding: 30px 41px;
  }
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(180%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(1);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(0.2rem);
}

.multiple {
  filter: brightness(191%) saturate(27%) hue-rotate(82deg) blur(1px);
}