/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--text-font-weight);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.header {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-align: center;
  justify-content: end;
  text-transform: uppercase;

}

.header__block-title {
  display: flex;
  flex-direction: column;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  gap: 20px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {

}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-block: 25px
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;

}

.theme-menu__item {

}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

}

button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: inherit;
  transition: width 0.3s, background-color 0.3s;
}

.button:focus::after {
  width: 100%;
  background-color: var(--accent-color);
}

.button:focus {
  outline: none;
  opacity: 0.6;
}

button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -16px;

  animation: triangle 0.5s infinite ease-in-out alternate;

  /* animation-name: triangle;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; */
}

@keyframes triangle {
  from {
    inset-inline-start: -16px;
  }

  to {
    left: -12px;
  }
}

.theme-menu__button {
  font-family: inherit;
  text-transform: inherit;
}

.content_section {
  margin: 0 auto;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__header {
  font-size: 18px;
}

.card__image_continer {
  position: relative;
}

.card__lable {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
}

@supports((text-stroke: 1px var(--text-stroke)) or (-webkit-text-stroke: 1px var(--text-stroke))) {
  .card__lable {
      -webkit-text-stroke: 1px var(--text-stroke);
      text-stroke: 1px var(--text-stroke);
      text-shadow: none;
  }
} 

.card__image {
  inline-size: 100%;
}

.card__block {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.card__paragraph_block {
  display: grid;
  gap: 27px;
}


.card__paragraph {
  font-size: 18px;
}

.card__button_block {
  display: flex;
  justify-content: flex-end;
}

.card__icon-button {
  width: fit-content;
  height: fit-content ;
}

.card__like-button {
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  min-width: 130px;
  padding: 9px 17px;
}

.button__text {

}

@media (width <= 375px) {
  .header {

  }

  .content_section {
    inline-size: 100%;
  }

}

