/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --header-font-weight: 785;
    --text-font-weight: 465;
    --bg-color: #000;
    --accent-color: #00CC14;

    --text-stroke: #000;

    --bg-image:
        repeating-linear-gradient(90deg, #000 2px, #000 4px, transparent 4px, transparent 6px),
        repeating-linear-gradient(#000 2px, #000 4px, transparent 4px, transparent 6px),
        linear-gradient(#007f0c, #004306);
}

:root.theme-light {
    --header-font-weight: 700;
    --text-font-weight: 400;
    --bg-color: #fff;
    --accent-color: #000;

    --text-stroke: #fff;

    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 2px, #d3d3d3 4px, transparent 4px, transparent 6px),
        repeating-linear-gradient(#d3d3d3 2px, #d3d3d3 4px, transparent 4px, transparent 6px),
        linear-gradient(#e7e7e7, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-font-weight: 785;
        --text-font-weight: 465;
        --bg-color: #000;
        --accent-color: #00CC14;

        --text-stroke: #000;

        --bg-image:
            repeating-linear-gradient(90deg, #000 2px, #000 4px, transparent 4px, transparent 6px),
            repeating-linear-gradient(#000 2px, #000 4px, transparent 4px, transparent 6px),
            linear-gradient(#007f0c, #004306);
    }
}

@media (prefers-color-scheme: light) {
    :root.theme-light {
        --header-font-weight: 700;
        --text-font-weight: 400;
        --bg-color: #fff;
        --accent-color: #000;

        --text-stroke: #fff;

        --bg-image:
            repeating-linear-gradient(90deg, #d3d3d3 2px, #d3d3d3 4px, transparent 4px, transparent 6px),
            repeating-linear-gradient(#d3d3d3 2px, #d3d3d3 4px, transparent 4px, transparent 6px),
            linear-gradient(#e7e7e7, #1a1a1a);
    }
}
