/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --accent-font: 'PressStart2P', Arial, sans-serif;
    --header-font-weight: 700;
    --text-font-weight: 400;

    --bg-color: #fff;
    --accent-color: #000;

    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 2px, #d3d3d3 4px, transparent 4px, transparent 6px),
        repeating-linear-gradient(#d3d3d3  2px, #d3d3d3 4px, transparent 4px, transparent 6px),
        linear-gradient(#e7e7e7, #1a1a1a);
}