/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --accent-font: 'PressStart2P', Arial, sans-serif;
    --header-font-weight: 700;
    --text-font-weight: 400;

}